@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<EntityPracticeApp.ViewModel.StudentViewModel>

@if (Model.Count() == 0)
{
    <tr>
        <h3>No Course Found!</h3>
    </tr>
}
else
{
    <h2>Registered Students in course<span class="text-success">@ViewBag.CourseName</span></h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>University</th>
            <th>Gender</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.University</td>
                <td>@item.Gender</td>
            </tr>
        }
    </tbody>
</table>

}